@page
@model EditorModel
@{
    ViewData["Title"] = "Home page";
}
@using file_organizer.Core

<style>
    .file-list input {
        width: @(EditorModel.GetNumberInputWidth() + "em");
    }
</style>
<div class="header">
    <button onclick="location.replace('http:\/\/localhost:8001/directorychooser')">Cancel</button>
    <h1>File Organizer</h1>
    <button>Save</button>
</div>
<div class="text-center">
    <ol class="file-list">
        @if (EditorModel.Controller != null)
        {
            @foreach (var item in EditorModel.Controller.Entries)
            {
                <li>
                    <div class="number-container">
                        <input type="number" name="toIndex" value="@item.Number">
                        <input type="hidden" name="fileName" value="@item.FileName">
                        <button onclick="ajaxPost(this, 'move')">✓</button>
                    </div>
                    <div class="item-name-container">
                        @* <p class="item-name">@item.PrettyName</p> *@
                        @item.PrettyName
                    </div>
                    <div>
                        <button class="cancel" onclick="ajaxPost(this, 'remove')">X</button>
                        <input type="hidden" name="fileName" value="@item.FileName">
                    </div>
                </li>
            }
        }
    </ol>
</div>
@* named handlers will not work without this *@
<form asp-page-handler="dummy"></form>
