@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@using file_organizer.Core

@* TODO: investigate using document.location.reload() to reload and preserve scroll location *@

<style>
    .file-list input {
        width: @(IndexModel.GetNumberInputWidth() + "em");
    }
</style>
<div class="header">
    <button>Cancel</button>
    <h1>File Organizer</h1>
    <button>Save</button>
</div>
<div class="text-center">
    <ol class="file-list">
        @if (IndexModel.Controller != null)
        {
            @foreach (var item in IndexModel.Controller.Entries)
            {
                @if (item.Enabled) {
                    <li>
                        <form asp-page-handler="move" method="POST" class="number-container">
                            <input type="number" name="toIndex" value="@item.Number">
                            <input type="hidden" name="fileName" value="@item.FileName">
                            <button>X</button>
                        </form>
                        <div class="item-name-container">
                            @* <p class="item-name">@item.PrettyName</p> *@
                            @item.PrettyName
                        </div>
                        <form asp-page-handler="remove" method="POST">
                            <button class="cancel">X</button>
                            <input type="hidden" name="fileName" value="@item.FileName">
                        </form>
                    </li>
                }
            }
        }
    </ol>
</div>
