@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@using file_organizer.Core

<div class="text-center">
    <h1 class="display-4">Welcome :D</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <ol class="file-list">
        @if (IndexModel.Controller != null)
        {
            @foreach (var item in IndexModel.Controller.Entries)
            {
                @if (item.Enabled) {
                    <li>
                        <form asp-page-handler="move" method="POST">
                            <input type="number" name="toIndex" value="@item.Number">
                            <input type="hidden" name="fileName" value="@item.FileName">
                            <button>X</button>
                        </form>
                        <div class="item-name-container">
                            @* <p class="item-name">@item.PrettyName</p> *@
                            @item.PrettyName
                        </div>
                        <form asp-page-handler="remove" method="POST">
                            <button>X</button>
                            <input type="hidden" name="fileName" value="@item.FileName">
                        </form>
                    </li>
                }
            }
        }
    </ol>
</div>
